- if @feeds.total_pages > 1
  = paginate(@feeds)
%ul
  - @feeds.each do |feed|
    %li
      %p
        = feed.date.strftime("%Y-%m-%d")
        = link_to("#{feed.title} - #{feed.resource.title}", feed.link)
- if @feeds.total_pages > 1
  = paginate(@feeds)
