- @feeds.group(["year", "month"]).each do |group|
  - sub_record = group.sub_records.first
  - year = sub_record.year
  - month = sub_record.month
  = link_to("#{"%04d" % year}-#{"%02d" % month} (#{group.n_sub_records})",
            url("/search?word=#{params[:word]}&year=#{year}&month=#{month}"))
