- @feeds.group("month").sort_by {|record| record.key}.each do |group|
  - month = group.key
  - if month == 0
    - next
  = link_to("#{month} (#{group.n_sub_records})",
            url("/search?word=#{params[:word]}&month=#{month}"))
