.container
  %h1 feedcellar-web
  = render :_versions, layout: false
  = render :_search_form, layout: false
  - if @feeds
    .row
      .col-sm-6
        = render :_feeds, layout: false
      .col-sm-4
        = render :_resources, layout: false
      .col-sm-2
        %p
          = render :_years, layout: false
        %p
          = render :_months_by_years, layout: false
        %p
          = render :_months, layout: false
