%h1 feedcellar-web
= render :_versions
= render :_search_form
- if @feeds
  %p
    = render :_resources
  = render :_feeds
  %p
    = render :_years
  %p
    = render :_months_by_years
  %p
    = render :_months
